.coinsList {
   color: white;
}





.coinsList__title {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: left;
   background-color: gold;
   height: 50px;
   color: black;
   font-weight: 600;
   padding: 0 30px;
}

.coinsList__logo {
   width: 25%;
}

.coinsList__name {
   text-align: center;
   width: 25%;
}

.coinsList__change {
   text-align: center;
   width: 25%;
}

.coinsList__price {
   text-align: right;
   width: 25%;
}




.coinsList__column {
   width: 100%;
}

.coinsList__pages-bar {
   height: 50px;
   display: flex;
   justify-content: center;
}

.coinsList__pages-row {
   margin-top: 20px;
   width: 500px;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.coinsList__page {
   cursor: pointer;
   width: 30px;
   height: 30px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 5px;
   border-radius: 50%;
   background-color: black;
}
.coinsList__page:hover{
   background-color: gold;
   color: black;
}