.input {
   height: 100%;
   width: 100%;
}

.input-box {
   margin: 30px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.input-box__form {
   width: 100%;
   position: relative;
}

.input-box__input {
   color: whitesmoke;
   font-size: 25px;
   padding: 7px;
   width: 100%;
   background-color: #2B2730;
}

.input-box__input:focus {
   outline: 2px solid gold;
}

.input__popup {
   display: none;
}

.popup {
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(140, 140, 140, 0.5);
   height: 100vh;
   width: 100%;
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.popup__block {
   height: 400px;
   width: 500px;
   background-color: black;
   padding: 10px;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

   @media (max-width: 500px) {
      flex-direction: column;
   }
}

.popup__img {}

.popup__btn-wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 200px;
}
.popup__title{
   margin-bottom: 15px;
   font-size: 25px;
   color: gold;
}
.popup__btn {
   width: 100%;
   height: 50px;
   font-size: 20px;
   background-color: gold;
   border-radius: 10px;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
}

.popup__btn-absolute {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   color: whitesmoke;
   font-size: 25px;
   padding: 5px;
   cursor: pointer;
   position: absolute;
   right: 10px;
   top: 10px;
   background: transparent;
   border: none;
}

.popup__btn-absolute:hover {
   background-color: whitesmoke;
   color: black;
}