.coin-page {
   display: flex;
   height: 100%;

   @media (max-width: 1500px) {
      flex-direction: column;
   }
}

.coin-page__sidebar {
   width: 30%;
   height: 83vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 25px;
   border-right: 2px solid gray;
   color: whitesmoke;

   @media (max-width: 1500px) {
      width: 100%;
      height: 60vh;
   }
}

.sidebar__img {
   height: 200px;
   margin-bottom: 30px;

   @media (max-width: 420px) {
      margin-bottom: 10px;
   }
}

.sidebar__name {
   font-weight: bold;
   margin-bottom: 20px;
   font-family: "Montserrat";
}

.sidebar__subtitle {
   letter-spacing: 1px;
   font-size: 20px;
   margin: 10px 0;
   max-width: 700px;
   font-family: "Montserrat";
   padding: 0 25px 15px;
   text-align: justify;
}

.sidebar__params {
   margin-top: 80px;
   font-family: "Montserrat";
   font-size: 35px;

   @media (max-width: 1500px) {
      margin-top: 20px;
   }
}

.sidebar__rank {
   margin-bottom: 15px;
}

.sidebar__cur-price {
   margin-bottom: 15px;
}

.coin-page__content {
   width: 70%;
   height: 100%;

   @media (max-width: 1500px) {
      width: 100%;
   }
}